.wrapper
	&-box
		display: block
		position: relative
		border: 2px solid #000001
		width: 216px
		height: 216px
		padding: 6px
		background-clip: content-box
		border-radius: 15px
		&_list
			width: 200px
		&_abbr
			position: absolute
			bottom: 0px
			left: 30px
			font-size: 51px
			opacity: 25%
			color: white
		&_list
			font-size: 20px
			margin-left: 20px
			list-style: none
			&-label::before
				content: "\2022" 
				color: #96A2B0
				font-weight: bold
				display: inline-block
				width: 1em 
				margin-left: 1em